



abbr{
  border-bottom:1px dotted;
  cursor:help;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select{
  vertical-align:middle;
}

