





/*change border colour to suit your needs */

hr{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1rem 0;
  padding:0;
}
input, select{
  vertical-align:middle;
}

